.live{
    /* border: 2px solid red; */
    width: 400px;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 40px;
}
.live h2{
    text-shadow: 10px 1px 10px red;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    height: 180px;
    width: 420px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40px;
    /* border: 2px solid red; */
    box-shadow: 10px 1px 15px grey;
    padding: 10px;
}

#card1{
background-image: linear-gradient(145deg,skyblue,black);
}
#card1:hover{
background-image: linear-gradient(145deg,skyblue,white);
}
#card2{
    background-image: linear-gradient(145deg,green,black);

}
#card2:hover{
    background-image: linear-gradient(145deg,green,white);

}
#card3{
    background-image: linear-gradient(145deg,grey,black);

}
#card3:hover{
    background-image: linear-gradient(145deg,grey,white);

}
#card4{
    background-image: linear-gradient(145deg,orange,black);

}
#card4:hover{
    background-image: linear-gradient(145deg,orange,white);

}
#card5{
    background-image: linear-gradient(145deg,skyblue,black);

}
#card5:hover{
    background-image: linear-gradient(145deg,skyblue,white);

}
#card6{
    background-image: linear-gradient(145deg,green,black);

}
#card6:hover{
    background-image: linear-gradient(145deg,green,white);

}

.cardName{
    font-size: 25PX;
    color: #fff;
}
.cardName span{
    font-size: 15px;
    color: #000;
}
.cardTotal{
    font-size: 40px;
    text-shadow: 10px 40px 15px black;
    text-align: center;
    color:#fff;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}